<!doctype html>
<html>
    <head>
        <title>App</title>
        <link rel="stylesheet" href="static/css/app.css">
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
    <script src="static/js/app.js"></script>
</html>